body {
  margin: 0;
  background-color: rgb(164, 134, 104);
  text-align: center;
  font-family: Arial;
}

h1 {
  color: white;
  margin: 20px;
}

p {
  color: white;
  font-weight: bold;
}

.score {
  color: white;
  background-color: rgb(129, 98, 67);
  width: 500px;
  margin: auto;
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.road {
  width: 50%;
  height: 100vh;
  position: relative;
  background-color: #333;
  border-left: 4px solid white;
  border-right: 4px solid white;
  box-shadow: 0 0 20px black;
  overflow: hidden;
}

.line {
  width: 4px;
  height: 100%;
  background-color: white;
  position: absolute;
}

.line1 {
  left: 33.33%;
}

.line2 {
  left: 66.66%;
}

.line3 {
  left: 99.99%;
}

.road img {
  position: absolute;
  width: 100px;
  height: 100px;
}

.car1 {
  left: 10%;
  animation: carMove 2s linear infinite;
}

.car2 {
  left: 43%;
  top: 450px;
}

.car3 {
  left: 75%;
  animation: carMove 2s linear infinite;
}

@keyframes carMove {
  0% {
    top: -100px;
  }

  100% {
    top: 100%;
  }
}

button {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 18px;
  background-color: rgb(129, 98, 67);
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(127, 83, 39);
}

@media (max-width: 600px) {
  .road {
    width: 90%;
    height: 600px;
  }

  .road img {
    width: 70px;
    height: 70px;
  }

  .line {
    width: 4px;
  }
}

button {
  font-size: 16px;
  padding: 8px 20px;
}
